* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

input {
    height: 20px;
    border-radius: 5px;
}

label {
    font-size: 14px;
}

.contenedor-carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
    visibility: visible;
}

.contenedor-carga-hidden {
    visibility: hidden;
}

.carga {
    border: 8px solid #ccc;
    border-top-color: #417D80;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

.porcentaje {
    position: absolute;
    height: 10px;
    width: 15px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.porcentaje p {
    color: #0D4A4D;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    background: linear-gradient(180deg, #003133 0%, #67989A 100%);
}

header {
    background-color: #003133;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

button {
    cursor: pointer;
}

div.menu img,
.userProfile img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

div.logo img {
    width: 90px;
    height: 70px;
}

.menu-navbar {
    background-color: #67989A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    text-align: center;
    padding: 8px;
    line-height: 1.5;
    transition: 0.5s;
    transform: translateX(-100vw);
    position: absolute;
    top: 40px;
    visibility: hidden;
    z-index: 2;
}

.menu-hamburguesa {
    background-color: transparent;
}

.menu-navbar ul:first-child img {
    width: 40px;
    height: 40px;
}

.menu-navbar-visible {
    width: 100px;
    visibility: visible;
    z-index: 2;
    transform: translateX(0);
}

.menu-navbar ul li:first-child {
    padding-top: 5px;
    padding-bottom: 10px;
}

.menu-navbar ul li {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

h1 {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 2px;
}

p,
a {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}

footer {
    background-color: #003133;
    color: #ffffff;
    display: grid;
    grid-template-areas: "empresa idiomas"
        "asistencia seguinos";
    position: relative;
    bottom: 0%;
    padding: 3px;
}

footer div {
    padding-top: 3px;
}

.footer-col-1 {
    grid-area: empresa;
}

.footer-col-2 {
    grid-area: idiomas;
}

.footer-col-3 {
    grid-area: asistencia;
}

.footer-col-4 {
    grid-area: seguinos;
}

footer p:first-child {
    font-weight: 700;
}

footer p {
    padding: 3px;
}

div.footer-col-4 img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

::-webkit-scrollbar-thumb {
    background: #F8C471;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.btn-comprar {
    background-color: #F5B041;
    color: #000000;
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
    margin: 3px;
}

.btn-comprar:hover {
    background-color: #FAD7A0;
}

.btn-comprar:active {
    background-color: #D68910;
}

.btn-jugar-verde {
    background: #236467;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 3px 5px 3px 5px;
    margin: 3px;
}

.btn-jugar-verde:hover {
    background-color: #67989A;
}

.btn-jugar-verde:active {
    background-color: #0D4A4D;
}

.contenedor-boton-juego .btn-jugar-verde img {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.btn-info {
    background-color: #236467;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 10px;
    padding: 3px 5px 3px 5px;
    margin: 3px;
}

.btn-info:hover {
    background-color: #67989A;
}

.btn-info:active {
    background-color: #003133;
}

.btn-reservar {
    background-color: #F5B041;
    color: #000000;
    font-size: 10px;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

.btn-reservar:hover {
    background-color: #FAD7A0;
}

.btn-reservar:active {
    background-color: #D68910;
}

.juego-sugerido {
    background-image: url("../images/godofwar.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    padding: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto-juego-sugerido {
    width: 30%;
    background-color: #003133;
    opacity: 0.95;
    padding: 5px;
    margin-top: 10px;
}

.precioSugerido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.precioSugerido p {
    padding-top: 5px;
}

.contenedor-carrousel {
    background: #67989A;
    border-radius: 4px;
    /* Pasarlo a % */
    margin: 8px 4px 8px 8px;
    overflow-x: scroll;
    width: auto;
}

.titulo-categoria {
    padding-top: 4px;
    padding-left: 4px;
}

.carrousel {
    width: 230%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.card-juego {
    width: calc(100% / 4);
    display: flex;
    flex-flow: column;
    margin: 4px 16px 15px 8px;
}

.card-juego img {
    height: 100px;
    width: 100%;
}

.info-juego {
    background-color: #003133;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 3px;
}

.precio-juego {
    width: 60%;
}

.precio-juego p {
    padding-left: 4px;
}

.precio-juego h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}


.juego-coming-soon {
    background-image: url("../images/2560x1440-px-Lara-Croft-Rise-of-the-Tomb-Raider-Tomb-Raider-video-games-685610-wallhere.com\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.juego-coming-soon img {
    width: 300px;
}

.texto-juego-coming-soon {
    background-color: #003133;
    opacity: 0.95;
    width: 50%;
    padding: 5px;
}

.texto-juego-coming-soon p {
    color: #D3D3D3;
}

.texto-juego-coming-soon div {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.modal-compra {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(250, 240, 245, 0.555);
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-compra-visible {
    display: block;
}

.contenido-modal {
    background: linear-gradient(180deg, #003133 0%, #67989A 100%);
    margin: auto;
    padding: 2em;
    border: 1px solid #888;
    flex-direction: row;
    width: 80%;
}

.contenido-modal p {
    padding-bottom: 10px;
    font-size: 16px;
}


.btn-cancelar {
    font-size: 17px;
    padding: 12px 5px 12px 5px;
    margin: 3px;
    border-radius: 5px;
}

.modal-compra form label {
    color: #ffffff;
}

.modal-compra label,
.modal-compra input {
    width: 100%;
}


.contenido-modal div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 10px;
}

.contenido-modal div input {
    width: 100%;
}

.contenido-modal div:last-child {
    display: none;
}

.contenido-modal div input:nth-child(2),
.contenido-modal div label:nth-child(2) {
    margin-left: 5%;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-compra button {
    margin-top: 10px;
    font-size: 14px;
    padding: 8px;
    margin-left: 0;
}


@media only screen and (min-width:1024px) {

    input {
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    label {
        font-size: 18px;
        margin: auto;
    }

    .carga {
        border: 15px solid #ccc;
        border-top-color: #417D80;
        height: 100px;
        width: 100px;
    }

    .porcentaje {
        height: 20px;
        width: 30px;
    }

    .menu-navbar {
        top: 70px
    }

    .menu-navbar-visible {
        width: 200px
    }

    .menu-navbar ul li {
        height: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .menu-navbar ul:first-child img {
        width: 60px;
        height: 60px;
    }


    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
        color: #D3D3D3;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    p,
    a {
        font-size: 18px;
    }

    header {
        height: 80px;
    }

    div.menu img,
    .userProfile img {
        width: 70px;
        height: 70px;
    }

    div.logo img {
        width: 110px;
        height: 70px;
    }

    footer {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        position: relative;
        bottom: 0%;
        width: 100%;
        padding: 0;
        height: 170px;
    }

    footer p {
        font-size: 15px;
    }

    div.footer-col-4 img {
        width: 35px;
        height: 35px;
        padding-right: 20px;
        padding-top: 30px;
    }

    footer p:first-child {
        padding-top: 20px;
    }

    .btn-comprar {
        font-size: 17px;
        padding: 12px 5px 12px 5px;
        margin: 3px;
    }

    .btn-jugar-verde {
        font-size: 17px;
    }

    .contenedor-boton-juego .btn-jugar-verde img {
        width: 30px;
        height: 39px;
        align-items: baseline;
    }

    .contenedor-boton-juego {
        width: 30%;
    }

    .btn-info {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .btn-reservar {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .juego-sugerido {
        height: 720px;
    }

    .texto-juego-sugerido {
        opacity: 0.90;
        padding: 10px;
        margin-top: 20%;
    }

    .precioSugerido p {
        padding-top: 10px;
        font-size: 20px;
    }

    .contenedor-carrousel {
        margin: 30px 20px 30px 20px;
        width: auto;
        height: 450px;
    }

    .titulo-categoria {
        padding: 15px 0px 15px 20px;
    }

    .carrousel {
        width: 130%;
    }

    .card-juego {
        width: calc(100% / 3);
        height: 280px;
        margin: 4px 16px 15px 25px;
    }

    .card-juego img {
        height: 260px;
    }

    .info-juego {
        padding: 10px;
        margin-top: 4px;
    }

    .precio-juego {
        width: 70%;
    }

    .contenedor-boton-juego button {
        width: 100%;
    }

    .precio-juego p {
        padding-left: 2px;
    }

    .precio-juego h1 {
        width: 240px;
    }

    .juego-coming-soon img {
        width: 1200px;
    }

    .texto-juego-coming-soon {
        opacity: 0.85;
        margin-bottom: 50px;
    }

    .texto-juego-coming-soon h1 {
        font-size: 50px;
        padding-left: 8px;
    }

    .texto-juego-coming-soon p {
        padding-left: 10px;
    }

    .breadcrumb ul {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
    }

    .breadcrumb ul li {
        padding: 30px 15px 50px 15px;
        color: #F39C12;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: #F39C12;

    }

    .encabezado-4linea {
        background-color: #417D80;
    }

    .btn-compartir {
        background-color: #D9D9D9;
        border-radius: 10px;
        font-size: 17px;
        padding: 8px;
    }

    .encabezado-4linea {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 5em 1em 5em;
    }


    .encabezado-4linea .btn-compartir img {
        vertical-align: middle;
        padding-right: 5px
    }

    .btn-compartir:hover {
        background-color: #ffffff;
    }

    .contenedor-juego {
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: 50px 50px 0px 50px;
        position: relative;
        height: 700px;
    }

    .contenedor-juego div {
        position: absolute;
    }

    .contenedor-juego div button {
        top: 45%;
        position: absolute;
        left: 43%;
    }

    .contenedor-juego img {
        width: 1200px;
        height: 650px;
    }

    .btn-jugar-amarillo {
        font-size: 20px;
        border-radius: 10px;
        color: #000000;
        background-color: #F39C12;
        padding: 18px 28px 18px 28px;
    }

    .btn-jugar-amarillo img {
        width: 25px;
        height: 25px;
        vertical-align: text-bottom;
        padding-right: 8px;
    }

    .parrafo-enlinea {
        text-align: justify;
        padding: 0em 5em 5em 5em;
    }

    .parrafo-enlinea a {
        text-decoration: underline;
    }

    .detalle-juegobatman,
    .instrucciones-juego,
    .controles {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        padding-top: 20px;
    }

    .detalle-juegobatman img {
        width: 56px;
        height: 56px;
        padding-right: 1em;
        padding-left: 5em;
    }

    .detalle-juegobatman h2 {
        padding-top: 14px;
    }

    .imagenes-detalle-juego {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        padding-left: 1em;
        transition: transform .2s;
    }

    .imagenes-detalle-juego img,
    iframe {
        height: 210px;
        padding-right: 1em;
    }

    .imagenes-detalle-juego img:hover,
    .imagenes-detalle-juego iframe:hover {
        margin: 2px;
        transform: scale(1.3);
    }

    .instrucciones-juego img {
        width: 39px;
        height: 37px;
        padding-right: 1em;
        padding-left: 5.5em;
    }

    .instrucciones-juego h2 {
        padding-top: 5px;
    }

    .contenedor-juegoenlinea p {
        text-align: justify;
        padding: 1em 5em 1em 5em;
    }

    .controles img {
        width: 39px;
        height: 39px;
        padding-right: 1em;
        padding-left: 5.6em;
    }

    .controles h2 {
        padding-top: 9px;
    }

    .seccion-comentarios h1 {
        padding-left: 3.5em;
        padding-top: 1em;
    }

    .contenedor-comentarios {
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .comentarios {
        background-color: #FFFFFF;
        margin-top: 25px;
        width: 70%;
    }

    .comentarios div {
        display: flex;
        flex-flow: row;
    }

    .comentarios p {
        color: #000000;
        font-size: 16px;
        text-shadow: none;
    }

    .comentarios img {
        width: 35px;
        height: 37px;
    }

    .comentarios div:first-child {
        border-bottom: 1px solid #D3D3D3;
        padding: 10px;
    }

    .comentarios div:first-child p {
        padding: 10px;
        font-weight: bold;
    }

    .comentarios div:last-child {
        padding: 10px;
        justify-content: space-between;
        align-items: baseline;
    }

    .comentarios div:last-child p {
        padding-left: 45px;
    }

    .comentarios div:last-child p:last-child {
        font-style: italic;
        font-size: 12px;
        color: #c7c3c3;
    }

    .contenedor-comentarios form textarea {
        border-radius: 5px;
        width: 96%;
    }

    textarea {
        padding: 2%;
    }

    .contenedor-comentarios form {
        margin-top: 25px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .btn-enviar {
        background-color: #236467;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        font-size: 17px;
        margin-top: 10px;
    }

    .contenido-modal {
        display: flex;
        justify-content: space-between;
        padding-left: 0%;
    }

    .contenido-modal div:last-child {
        display: block;
        padding-left: 35px;
    }

    .contenido-modal div:last-child div {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-left: 0;
        border-bottom: 2px solid #fff;
        padding-top: 10px
    }

    .modal-compra button {
        font-size: 17px;
        padding: 2%;
        margin: 25px 25px 0 0;
    }

    .contenido-modal div {
        padding-top: 0;
    }

    .contenido-modal div:last-child img {
        width: 350px;
        height: 250px;
        padding-bottom: 5px;
    }


    .titulo-juego-mobile {
        display: none;
    }

    .ball {
        position: absolute;
        z-index: 1;
        background-color: rgba(214, 137, 16, 1);
        height: 35px;
        width: 35px;
        overflow: hidden;
        border-radius: 50%;
    }

    .celd-ball {
        background-color: rgba(103, 152, 154, 1);
        position: relative;
        height: 40px;
        width: 40px;
        z-index: 0;
        margin: 5px;

    }

    .Wrapeer-celdball {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .line-point {
        display: flex;
        align-items: center;
        margin: 0px 10px;

    }

    .line-point>p {
        width: 80px;
        margin-right: 20px;
    }

    .CS-PCard-ponints {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(65, 125, 128, 1);
    }

    .CS-PCard-img {
        width: 300px;
        height: 300px;
        background-color: rgba(103, 152, 154, 1);
        ;
    }

    .CS-PCard-img>img {
        width: 300px;
    }

    .CS-PCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }

    .hide {
        visibility: hidden;
    }

    .personajes {
        overflow-x: scroll;
        position: relative;
        background-color: #0D4A4D;
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        margin: 10px 0px 10px 30px;
    }

    .fx-overflow {
        overflow-x: scroll;
    }

    .CS-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0px;
    }

    .BG {
        height: 500px;
        left: auto;
        position: relative;
        z-index: 0;
    }

    .lara {
        position: absolute;
        z-index: 1;
        height: 500px;
        left: 100px;

    }

    .CS-title {
        z-index: 2;
        height: 200px;
        left: 600px;
        position: absolute;
    }

    .CS-humo {
        position: absolute;
        z-index: 2;
        height: 300px;
        bottom: 90px;
        left: 10px;
    }

    .CS-img>.texto-juego-coming-soon {
        background-color: rgba(13, 74, 77, 1);
        position: absolute;
        z-index: 2;
        bottom: 170px;
        right: 200px;
        width: 30%;
    }


    .CS-historia-wrap>p {
        text-align: justify;
        padding: 0px 60px 20px 120px;
        margin-bottom: 30px;
    }

    .CS-historia {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .CS-historia>img {
        width: 40px;
        height: 40px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .feature-section {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }

    .feature-card {
        background-color: #0D4A4D;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .feature-wrapper {
        display: flex;
    }

    .feature {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(65, 125, 128, 1);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px;
    }

    .feature>p {
        color: #D68910;
    }

    .feature>img {
        width: 100px;
    }

    .FT-line {
        height: 3px;
        width: 120px;
        background-color: #D68910;
        margin: 10px;
    }

}